body {
    background-color: #243343;
    color: white;
}

.custom-select {
    background-color: #1C2634;
    color: white;
}

.custom-select:focus {
    background-color: #243343;
    color: white;
}


.tree-view ul {
    list-style-type: none;
    margin-left: 25vw;
    text-indent: -1em;
}

.tree-view li:before {
    content: "▸ ";
}

.tree-view li {
    margin-bottom: 0.5em;
}

.navbar {
    background-color: #1C2634 !important;
    padding: 0;
}

.nav-link {
    padding: 10px 10px;
    height: 100%; 
}

.nav-link:hover {
    background-color: #9bbfe6;
    color: #FFFFFF;
}

#pages_content{
    padding-top: 20px;
}

.slider-step-label {
    color: white !important;
}